/* Full-width line for Experience section */
.experience-full-line {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  border-bottom: 1px solid #a3a3a3; /* gray-400 */
  padding-left: inherit;
  padding-right: inherit;
  box-sizing: border-box;
}
@font-face {
  font-family: "ZalandoSansExpanded-Regular";
  src: url("./assets/fonts/ZalandoSansExpanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ZalandoSansExpanded-Bold";
  src: url("./assets/fonts/ZalandoSansExpanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ZalandoSansExpanded-ExtraLight";
  src: url("./assets/fonts/ZalandoSansExpanded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "ZalandoSansExpanded-Light";
  src: url("./assets/fonts/ZalandoSansExpanded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ZalandoSansExpanded-Medium";
  src: url("./assets/fonts/ZalandoSansExpanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ZalandoSansExpanded-SemiBold";
  src: url("./assets/fonts/ZalandoSansExpanded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@import "tailwindcss";

@theme {
  --font-zalando: "Zalando-Regular", Avenir;
}

:root {
  font-family: "Zalando-Regular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f5f5f4;
  text-decoration: inherit;
}
a:hover {
  color: #f5f5f4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f5f4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f4;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
